* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*COMMON*/

/*BUTTONS*/

.black-btn:hover {
    outline: 3px solid black;
    outline-offset: 2px;
}

.red-btn:hover {
    outline: 2px solid red;
    outline-offset: 5px; 
}

.blue-btn:hover {
    outline: 3px solid blue;
    outline-offset: 2px;
}

.white-btn:hover {
    outline: 3px solid white;
    outline-offset: 2px;
}

/*IMAGES*/

.ms_returnal-item img:hover {
    outline: 3px solid blue;
    outline-offset: 5px;
}


/*HEADER*/

.ms_header-top img {
    width: 5rem;
}

.ms_header-bottom .dropdown-toggle::after {
    display: none;
}

.dropdown-menu li {
    width: 100vw;
}
.navbar-nav li img {
    width: 5%;
}

/*MAIN*/

.ms_jumbotron-first {
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 10rem 0 5rem;
    color: white;
}

.ms_jumbotron-first img {
    margin: 10rem 0 2rem;
}




/*SECONDA SEZIONE */

.ms_returnal-item img {
    width: 100%;
    margin: 1rem 0;
    border-radius: 20px;
}

/*TITOLI E PS5*/ 

.titles {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

/*CLAIM E PS5*/

.console-claim p {
    vertical-align: center;
}

.console-image img {
    width: 100%;
}


/*PRODOTTI PS5*/

.ms_ps-item img {
    width: 100%;
}

.ms_ps-item {
    width: 150px;
    height: 200px;
}

.ms_ps-item:hover {
    border-bottom: 3px solid blue;
    filter: opacity(0.5);
    display: flow-root;
}

/*jumbotron2*/

.ms_jumbotron-second {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 10rem 0 5rem;
    color: white;
    margin-top: 1rem;
}

.ms_jumbotron-first img {
    margin: 10rem 0 2rem;
}


/*SEZIONE GIOCHI*/

.ms_game-wrapper {
    width: 100%;
    background-color: rgb(34, 33, 33);
}

/*PS4*/


.ms_ps4-item img {
    width: 100%;
}

/*jumbotron 3*/

.ms_jumbotron-third {
    background-color: lightgrey;
}
.ms_jumbotron-logo, .ms_jumbotron-col {
    width: 100%;
}

.ms_jumbotron-logo {
    align-items: center;
}

.ms_jumbotron-logo img {
    width: 70%;
}

.ms_jumbotron-col img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .ms_jumbotron-col {
        display: none;
    }
}

.one {
    color: blue;
}

/*PROMO*/

.ms_ps-promo img {
    width: 100%;
}

/*JUMBOTRON 4*/

.ms_container-avengers {
    background-color: midnightblue;
    margin-top: 2rem;
}

.two {
    color: midnightblue;
}

.ms_jumbotron-now img, .ms_jumbotron-av img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .ms_jumbotron-av {
        display: none;
    }
}

/*SOCIAL*/

.ms_social-wrapper {
    width: 100%;
    margin: 0 auto 5rem;
}

.ms_social-wrapper {
    display: inline-block;
}

.social-wrapper {
    width: 50%;
    margin: auto;
}

.social-item img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .social-wrapper {
        width: 100%;
        margin: auto;
    }
}

.ms_ps-footer {
    background-color: midnightblue;
}

.list ul li a {
    text-decoration: none;
}

.list ul li {
    list-style: none;
}

/*FOOTER*/



