* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid {
    margin: 0,
}

.sony {
    background-color: black;
}

.sony-logo img {
    width: 10%;
}

.text-end {
    text-align: right;
}

.ms_jumbotron {
    width: 100%;
}

.ms_jumbotron img {
    width: 100%;
}

.ms_returnal-item img {
    width: 100%;
    margin: 1rem 0;
    border-radius: 20px;
}

.titles {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.console-claim p {
    vertical-align: center;
}

.console-image img {
    width: 100%;
}

.ms_ps-item img {
    width: 100%;
}

.ms_game-wrapper {
    background-color: rgb(34, 33, 33);
}

.ms_game-wrapper > h5, p {
    color: white;
}